services:
  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: digitale-logistic-app
    depends_on:
      my-postgres:
        condition: service_healthy
    environment:
      DB_PASSWORD: 1234
      JWT_SECRET: superSecretKey
    ports:
      - "9090:8080"
    networks:
      - jenkins-network

  my-postgres:
    image: postgres:17
    container_name: my-postgres
    environment:
      POSTGRES_DB: digital_logistics
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    networks:
      - jenkins-network
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]

  jenkins:
    image: jenkins/jenkins:lts
    container_name: my-jenkins
    privileged: true
    user: root
    environment:
      - JENKINS_OPTS=--httpPort=8080
    ports:
      - "9091:8080"
      - "50000:50000"
    networks:
      - jenkins-network
    volumes:
      - jenkins-data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    ports:
      - "9000:9000"
    volumes:
      - sonarqube-data:/opt/sonarqube/data
      - sonarqube-logs:/opt/sonarqube/logs
      - sonarqube-extensions:/opt/sonarqube/extensions
    networks:
      - jenkins-network
  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.2
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    networks:
      - jenkins-network
    volumes:
      - elasticsearch-data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.2
    container_name: kibana
    depends_on:
      - elasticsearch
    ports:
      - "5601:5601"
    networks:
      - jenkins-network

networks:
  jenkins-network:
    driver: bridge

volumes:
  postgres-data:
  jenkins-data:
  sonarqube-data:
  sonarqube-logs:
  sonarqube-extensions:
  elasticsearch-data:
