services:
  my-postgres:
    image: postgres:17
    container_name: my-postgres
    environment:
      POSTGRES_DB: digital_logistics
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    networks:
      - jenkins-network
    volumes:
      - postgres-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ========================

  keycloak-db:
    image: postgres:17
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    networks:
      - jenkins-network
    volumes:
      - keycloak-db-data:/var/lib/postgresql/data

  # ========================

  keycloak:
    image: quay.io/keycloak/keycloak:26.0.7
    container_name: keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
    ports:
      - "8088:8080"
    depends_on:
      - keycloak-db
    networks:
      - jenkins-network

  jenkins:
    build:
      context: .
      dockerfile: Dockerfile.jenkins
    container_name: my-jenkins
    privileged: true
    user: root
    environment:
      - JENKINS_OPTS=--httpPort=8080
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    ports:
      - "9090:8080"
      - "50000:50000"
    networks:
      - jenkins-network
    volumes:
      - /home/yassine/.docker/desktop/docker.sock:/var/run/docker.sock
      - jenkins-data:/var/jenkins_home
    depends_on:
      my-postgres:
        condition: service_healthy
      sonarqube:
        condition: service_started

  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    ports:
      - "9000:9000"
    volumes:
      - sonarqube-data:/opt/sonarqube/data
      - sonarqube-logs:/opt/sonarqube/logs
      - sonarqube-extensions:/opt/sonarqube/extensions
    networks:
      - jenkins-network

networks:
  jenkins-network:
    driver: bridge

volumes:
  postgres-data:
  jenkins-data:
  sonarqube-data:
  sonarqube-logs:
  sonarqube-extensions:
  keycloak-db-data:
